.weather-container {
  gap: 20px;
}

.today-weather {
  background-color: rgb(202, 239, 243);
  padding: 20px;
  display: flex;
  flex-direction:column;
  flex: 1;
  border: 1px solid rgb(105, 160, 227);
  align-self: center;
  text-align: center;
}

.forecast {
  gap: 20px;
}

.forecast-item {
  background-color: rgb(221, 175, 212);
  display: flex;
  flex-direction:column;
  flex: 1;
  padding: 20px;
  border: 1px solid rgb(105, 160, 227);
  align-self: center;
  text-align: center;
}
.title {
text-align: center;
text-shadow: 0cqmax;
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
}
.btn {
  display: flex;
  justify-content: center;
align-items: center;
color: burlywood;
padding-top:2%;
}